.loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;

  .loading-indicator {
    position: relative;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border-top: 5px solid rgba($gray-800, 0.25);
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    animation: spin 3.0s linear infinite;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 64px;
      height: 64px;
      border-top: 5px solid rgba($gray-700, 0.5);
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid transparent;
      border-radius: 50%;
      animation: spin 3.0s linear infinite;
    }

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 54px;
      height: 54px;
      border-top: 5px solid rgba($gray-500, 1);
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid transparent;
      border-radius: 50%;
      animation: spin 1.5s linear infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}