$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$font-family-base: 'Roboto', sans-serif;
$font-weight-base: 300;

$taskItem-danger-color: lighten($red, 20);
$taskItem-warning-color: lighten($yellow, 20);
$taskItem-info-color: lighten($blue, 20);

$button_box-shadow-color: rgba(100, 100, 100, 0.2);