<!doctype html>
<html data-ng-app="mainApp" data-ng-controller="mainApp.rootController">
<head>
  <title>Storm ID</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body data-ng-controller="mainApp.mainController">
  <h1 data-ng-if="data.$$state.loading"> I am an ugly loader</h1>
  <ul data-ng-if="!data.$$state.loading">
    <li data-ng-repeat="task in data.tasks">
      {{task.title}}
    </li>
  </ul>
</body>
</html>